<launch>
    <!-- Start Gazebo with TurtleBot3 -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

    <!-- Start Turtlesim -->
    <node name="turtlesim_node" pkg="gesture_recognizer" type="turtlesim_node" output="screen"/>

    <!-- Run your Python node -->
    <node name="turtle_controller" pkg="gesture_Recognizer" type="turtle_controller.py" output="screen"/>
</launch>
