<launch>
    <!-- Load OpenMP needed by tensorflow-->
    <env name="LD_PRELOAD" value="/usr/lib/aarch64-linux-gnu/libgomp.so.1"/>

    <!-- Start Gazebo with TurtleBot3 -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

    <!-- Start Turtlesim -->
    <node name="turtle1" pkg="turtlesim" type="turtlesim_node" output="screen"/>

    <!-- Run Python nodes -->
    <node name="turtle_controller" pkg="gesture_recognizer" type="turtle_controller.py" output="screen"/>

    <node name="image_subscriber" pkg="gesture_recognizer" type="gesture_publisher.py" output="screen">
        <param name="min_detection_confidence" type = "double" value="0.5"/>
        <param name="min_tracking_confidence" type = "double" value="0.5"/>
        <param name="x_velocity" type = "double" value="1.0"/>
        <param name="angular_velocity" type = "double" value="1.0"/>
        <param name="confidence" type = "double" value="0.0"/>
    </node>
    <node name ="metric_plotter" pkg="gesture_recognizer" type="metric_subscriber.py" output="screen"/> 
    <node name="camera_move_service" pkg="gesture_recognizer" type="camera_move_service.py" output="screen"/>
    <node pkg="gesture_recognizer" type="camera_keyboard_client.py" name="keyboard_camera_client" launch-prefix="gnome-terminal --" />
</launch>
